[submodule "ft-libft"]
	path = ft-libft
	url = https://github.com/andersonhsporto/ft-libft
[submodule "ft-get-next-line"]
	path = ft-get-next-line
	url = https://github.com/andersonhsporto/ft-get-next-line
[submodule "ft-printf"]
	path = ft-printf
	url = https://github.com/andersonhsporto/ft-printf
[submodule "ft-Born2beroot"]
	path = ft-Born2beroot
	url = https://github.com/andersonhsporto/ft-Born2beroot
[submodule "ft-so_long"]
	path = ft-so_long
	url = https://github.com/andersonhsporto/ft-so_long
[submodule "ft-pipex"]
	path = ft-pipex
	url = https://github.com/andersonhsporto/ft-pipex
[submodule "ft-push-swap"]
	path = ft-push-swap
	url = https://github.com/andersonhsporto/ft-push-swap
[submodule "ft-minishell-ht"]
	path = ft-minishell-ht
	url = https://github.com/andersonhsporto/ft-minishell-ht
[submodule "ft-philosophers"]
	path = ft-philosophers
	url = https://github.com/andersonhsporto/ft-philosophers
[submodule "ft-Net_Practice"]
	path = ft-Net_Practice
	url = https://github.com/andersonhsporto/ft-Net_Practice
[submodule "ft-cpp_piscine"]
	path = ft-cpp_piscine
	url = git@github.com:andersonhsporto/CPP_piscine.git
